<%= form_for @puzzle, url: puzzles_maths_grid_path, method: :get do |form| %>
    <h2>Math Line Setup</h2>

    <dl class="kids-puzzles-setup">
        <div class="kids-puzzles-setup-field">
            <dt><%= form.label :line %></dt>
            <dd><%= form.number_field :line %></dd>
        </div>
    </dl>

    <%= label_tag "reward" %></dt>
    <%= text_field_tag :reward, @reward, size: 40 %>

    <h2>Addition Setup</h2>

    <dl class="kids-puzzles-setup">
        <div class="kids-puzzles-setup-field">
            <dt><%= form.label :factors_from %></dt>
            <dd><%= form.number_field :factors_from %></dd>

            <dt><%= form.label :factors_to, "To" %></dt>
            <dd><%= form.number_field :factors_to %></dd>
        </div>
    </dl>

    <dl class="kids-puzzles-setup">
        <div class="kids-puzzles-setup-field">
            <dt><%= form.label :factors_count_min, "Minimum Number of Factors" %></dt>
            <dd><%= form.number_field :factors_count_min %></dd>

            <dt><%= form.label :factors_count_max, "Maximum" %></dt>
            <dd><%= form.number_field :factors_count_max %></dd>
        </div>
    </dl>

    <%= submit_tag "Generate new puzzle" %>
<% end %>
