<%= form_for @puzzle, url: puzzles_path, method: "POST" do |form| %>
  <%= hidden_field_tag :puzzle_type, @puzzle.puzzle_type %>

  <div class="flex-col w-fit">
    <div class="flex flex-nowrap mt-2 justify-between">
      <%= form.label :level, class: "flex-none w-10 self-center" %>
    </div>
    <div class="flex flex-nowrap">
      <%= form.select :level,
                      @puzzle.class.levels.keys.map { |l| [@puzzle.class.human_attribute_name(l), l] },
                      class: "flex-auto w-16" %>
    </div>

      <div class="flex flex-nowrap mt-2">
        <%= form.label :reward %>
      </div>

      <div class="flex flex-nowrap">
        <%= form.text_field :reward, class: "flex-auto w-80" %>
      </div>

    <div class="flex mt-2 justify-center">
      <%= submit_tag t("puzzles.generate_new_sheet") %>
    </div>
  </div>
<% end %>
