<div class="grid ml-0")
<h1>Maths Grid Puzzle</h1>

<%= form_for @puzzle, url: puzzles_path do |form| %>
    <%= hidden_field_tag :puzzle_type, "maths_grid" %>

    <h2 class="ml-0">Puzzle Setup</h2>

    <div class="flex flex-row">
        <div class="flex flex-col">
            <%= form.label :rows %>
            <%= form.number_field :rows %>
        </div>
        <div class="flex flex-col">
            <%= form.label :columns %>
            <%= form.number_field :columns %>
        </div>

        <div class="flex flex-col">
            <%= form.label :level %>
            <%= form.select :level, Puzzles::MathsGrid.levels.keys %>
        </div>
    </div>


    <%= label_tag "reward" %>
    <%= text_field_tag :reward, @reward, size: 40 %>

    <%= submit_tag "Generate new puzzle" %>
<% end %>

<hr>

<% if @puzzle.persisted? %>
<div class="kids-puzzles-content">
    <table class="kids-puzzles-puzzle kids-puzzles-maths-grid" style="width: 100%">
        <% @puzzle.cells.each do |row| %>
            <tr class="kids-puzzles-maths-grid-row">
                <% row.each do |cell| %>
                    <% @cell = cell %>
                    <td class="kids-puzzles-maths-grid-cell">
                        <p>
                            <%= render cell_component_class(type: cell.type).new(equation: cell) %>
                        </p>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>

    <% if @reward.present? %>
        <div class="kids-puzzles-reward">
            Reward: <%= @reward %>
        </div>
    <% end %>

</div>
</div>
<% end %>
