<%= form_for @number_line_maths, url: puzzles_path, method: "POST" do |form| %>
  <%= hidden_field_tag :puzzle_type, "number_line_maths" %>

  <div class="flex-col w-fit">
    <div class="flex flex-nowrap mt-2 justify-between">
      <%= form.label :level, class: "flex-none w-10 self-center" %>
    </div>
    <div class="flex flex-nowrap">
      <%= form.select :level,
                      @number_line_maths.class.levels.keys.map { |l| [@number_line_maths.class.human_attribute_name(l), l] },
                      class: "flex-auto w-16" %>
    </div>

      <div class="flex flex-nowrap mt-2">
        <%= form.label :reward %>
      </div>

      <div class="flex flex-nowrap">
        <%= form.text_field :reward, class: "flex-auto w-80" %>
      </div>

      <div class="flex mt-2 justify-center">
        <%= submit_tag t("puzzles.generate_new_sheet") %>
      </div>
  </div>
<% end %>
