<%= form_tag url: puzzles_maths_grid_path, method: :get do |form| %>
    <dl class="kizzle_puzzle_params">
    <div class="puzzle_field">
        <%= label_tag "rows" %>
        <%= text_field_tag :rows, @rows %>
    </div>
    <div class="puzzle_field">
        <%= label_tag "columns" %>
        <%= text_field_tag :columns, @columns %>
    </div>
    <div class="puzzle_field">
        <%= submit_tag "Generate new puzzle" %>
    </div>
<% end %>
