<!DOCTYPE html>
<html>
  <head>
    <title>empuzzle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="w-full bg-cyan-700 h-20">
      <div class="mx-auto max-w-screen-lg h-full">
        <div class="py-4 px-8">
          <span class="font-cursive text-4xl text-white">empuzzle</span>
        </div>
      </div>
    </header>
    <nav class="mx-auto max-w-screen-lg">
      <%= content_for :nav %>
    </nav>
    <main class="container mx-auto max-w-screen-lg mt-12 px-5">
      <h1><%= content_for :title %></h1>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
