<% content_for :title, "Puzzles" %>

<% content_for :content do %>
  <h2>Generate a new puzzle</h2>

  <ul>
    <li>
      <%= link_to t("puzzles.maths.arithmetic_grid.new_puzzle"),
                  new_puzzle_path(puzzle_type: "maths/arithmetic_grid") %>
    </li>
    <li>
      <%= link_to t("puzzles.maths.number_line_arithmetic.new_puzzle"),
                    new_puzzle_path(puzzle_type: "maths/number_line_arithmetic") %>
    </li>
  </ul>

  <h2>Previously generated puzzles</h2>

  <% @puzzles.each do |puzzle| %>
    <%= link_to puzzle, class: "flex hover:bg-gray-200" do %>
      <div class="flex-initial w-48">
        <%= puzzle.created_at.to_fs(:default) %>
      </div>
      <div class="flex-1">
        <%= puzzle.to_s %>
      </div>
    <% end %>
  <% end %>
<% end %>
