<% content_for :nav do %>
  <%= render BreadcrumbsComponent.new([
    { text: "Home", path: puzzles_path },
  ]) %>
<% end %>

<% content_for :title do %>
  <div class="print:hidden">
    <%= @puzzle.type_name %> Sheet
  </div>
<% end %>

<% content_for :content do %>
  <p class="pb-2">
    <% if @show_answers %>
      <%= link_to "Hide answers (answers won't print)", show_answers: "no" %>
    <% else %>
      <%= link_to "Show answers (answers won't print)", show_answers: "yes" %>
    <% end %>
  </p>
  <%= render @puzzle_component.new(puzzle: @puzzle, show_answers: @show_answers) %>
<% end %>
