<% content_for :nav do %>
  <% if @new_puzzle %>
    <%= render BackButtonComponent.new(
      text: "Back",
      path: new_puzzle_path(
        puzzle_type: "maths/arithmetic_grid",
        puzzles_maths_arithmetic_grid: {
          level: @puzzle.level,
          reward: @puzzle.reward,
          size: @puzzle.size,
        }
      )
    ) %>
  <% else %>
    <%= render BreadcrumbsComponent.new([
      { text: "Home", path: puzzles_path },
      { text: @puzzle.to_s }
    ]) %>
  <% end %>
<% end %>

<% content_for :title do %>
  <div class="print:hidden">
    <%= @puzzle.type_name %> Sheet
  </div>
<% end %>

<% content_for :content do %>
  <p class="pb-2 print:hidden">
    <%= link_to(
      @show_answers ? "Hide" : "Show" + " answers (answers won't print)",
      show_answers: !@show_answers,
      new_puzzle: @new_puzzle
    ) %>
  </p>
  <%= render @puzzle_component.new(puzzle: @puzzle, show_answers: @show_answers) %>
<% end %>
